.contact-filter{
    display: flex;
    justify-content: center;
    input{
        height: 48px;
        border-radius: 20px;
        align-content: center;
        text-align: center;
        margin:4px;
    }
}