.transfer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: 2em;
    margin:8px;
    background-color: lightblue;
    width: 95%;
    border-radius: 10px;
    
}