@mixin grid-main-container{
    display: grid;
    grid-template-columns:
            minmax(20px, 1fr) minmax(auto, 980px) minmax(20px, 1fr);

    >*:not(.full) {
        grid-column: 2;
    }

    .full{
        grid-column:1/-1;
    }
 
}

@mixin button{
    width:100px;
    height: 50px;
    border-radius: 10px;
    background-color: $light-blue;
    border: none;
    color:$white;
    font-weight: 700;
    font-size: 1.5em;

    &:hover{
        cursor: pointer;
    }
}